optipay/template/order-payment.pug
doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')

        // /.nav-collapse

.container
    .row.vertical-align
        .col-xs-3
            img.img-responsive(src='http://authalys.com/imgs/piggy.png')
        .col-xs-1
        .col-xs-8
            if sum > 0
                .balance.text-success
                    a(href='/accounts') #{sum} #{currency}
            else
                .balance.text-danger
                    a(href='/accounts') #{sum} #{currency}
    .row
        .col-xs-12
            .order-payment-title
                strong Order payment
                |  #SGZ-15478-45424
    .row.payment-merchant-row
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Company
                    .row
                        .col-xs-1
                        .col-xs-11 SaGazone
    .row
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Amount
                    .row
                        .col-xs-1
                        .col-xs-11 550 XAF
    .row.order-payment-info
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Information
                    .row
                        .col-xs-1
                        .col-xs-11
                            ul
                                li 550 XAF will be transfered from your Livret A account.
    .row.payment-row
        .col-xs-2
        .col-xs-8
            form(action='/sagazone-payment-ok')
                p
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm payment
        .col-xs-2
// /container


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

mockup/order-payment.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>OptiPay</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/optipay.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html"><strong>Opti</strong>Pay</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="home.html">Home<img src="./img/home.png" /></a></li>
            <li class="active"><a href="dashboard.html">My account<img src="./img/wallet.png" /></a></li>
            <li class="active"><a href="logout.html">Logout<img src="./img/logout.png" /></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row vertical-align">
          <div class="col-xs-3">
              <img src="./img/piggy.png" class="img-responsive" />
          </div>
          <div class="col-xs-1"></div>            
          <div class="col-xs-8">
              <div class="balance text-success">1310 EUR</div>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <div class="order-payment-title"><strong>Order payment</strong> #SGZ-15478-45424</div>
          </div>
      </div>
 
      <div class="row payment-merchant-row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 account-label">Company</div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">SaGazone</div>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 account-label">Amount</div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">504 EUR</div>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="row order-payment-info">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 account-label">Information</div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                  <ul>
                    <li>504 EUR will be transfered from your Livret A account.</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="row payment-row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <form action="sagazone-payment-ok.html">
            <p>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Confirm payment</button>
            </p>
            </form>
          </div>
          <div class="col-xs-2"></div>
      </div>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
