mockup/sagazone.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>SaGazone</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/optipay.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="./img/sagazone-logo.png" width="27px" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav text-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<style>
.navbar img {height: 32px !important; width: 170px !important;}
.navbar-default { background-color: #232F3E; }
.btn-primary {
    background: #f0c14b !important;
    border-color: #a88734 #9c7e31 #846a29 !important;
    color: #111 !important;
    width: 200px;
}
.form-inline { font-size: 18px; }
</style>

    <div class="container">

      <div class="row">
          <div class="col-xs-12">
                <h3>
                   <strong>Invoice number SGZ-15478-45424</strong>
                </h3>
          </div>
      </div>

      <form class="form-inline" action="order-payment.html">
        <div class="row payment-row vertical-align"  style="margin-top: 10px;"">
          <div class="col-xs-2">1</div>
          <div class="col-xs-2"><img src="./img/louboutin-shoes.jpg" class="img-responsive" /></div>
          <div class="col-xs-5">Christian Louboutin Shoes</div>
          <div class="col-xs-3">499 EUR</div>
        </div>

        <div class="row payment-row vertical-align" style="margin-top: 10px;">
          <div class="col-xs-4"></div>
          <div class="col-xs-5">Shipping</div>
          <div class="col-xs-3">5 EUR</div>
        </div>

        <div class="row payment-row vertical-align" style="margin-top: 10px;"">
          <div class="col-xs-4"></div>
          <div class="col-xs-5">Total</div>
          <div class="col-xs-3"><strong>504 EUR</strong></div>
        </div>

        <div class="row payment-row">
          <div class="col-xs-12">
          Select a payment method
          </div>
        </div>

        <div class="row payment-row vertical-align"  style="margin-top: 10px;">
          <div class="col-xs-2"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"></div>
          <div class="col-xs-4"><img src="./img/visa.jpg" class="img-responsive" /></div>
          <div class="col-xs-2"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></div>
          <div class="col-xs-4"><img src="./img/logo.png" class="img-responsive" /></div>
        </div>


        <div class="row payment-row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <p>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Proceed to checkout</button>
            </p>
          </div>
          <div class="col-xs-3"></div>
        </div>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

optipay/template/sagazone.pug
doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        style.
            .navbar img {
                height: 32px !important;
                width: 170px !important;
            }

            .navbar-default {
                background-color: #232F3E;
            }

            .btn-primary {
                background: #f0c14b !important;
                border-color: #a88734 #9c7e31 #846a29 !important;
                color: #111 !important;
                width: 200px;
            }

            .form-inline {
                font-size: 20px;
            }


block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-brand(href='#')
                img(src='http://authalys.com/imgs/sagazone-logo.png', width='27px')
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
        // /.nav-collapse
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong Invoice number SGZ-15478-45424
    form.form-inline(action='/order-payment')
        .row.payment-row.vertical-align
            .col-xs-2 1
            .col-xs-2
                img.img-responsive(src='http://authalys.com/imgs/louboutin-shoes.jpg')
            .col-xs-5 Christian Louboutin Shoes
            .col-xs-3 500 XAF
        .row.payment-row.vertical-align
            .col-xs-4
            .col-xs-5 Shipping
            .col-xs-3 50 XAF
        .row.payment-row.vertical-align
            .col-xs-4
            .col-xs-5 Total
            .col-xs-3
                strong 550 XAF
        .row.payment-row
            .col-xs-3
            .col-xs-6
                p
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Proceed to checkout
            .col-xs-3
// /container

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
