optipay/template/sagazone-payment-ok.pug
doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        style.
            .navbar img {
                height: 32px !important;
                width: 170px !important;
            }

            .navbar-default {
                background-color: #232F3E;
            }

            .btn-primary {
                background: #f0c14b;
                border-color: #a88734 #9c7e31 #846a29;
                color: #111;
            }

            .form-inline {
                font-size: 20px;
            }

block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-brand(href='#')
                img(src='http://authalys.com/imgs/sagazone-logo.png', width='27px')
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
        // /.nav-collapse
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong Payment for invoice number SGZ-15478-45424
    .row.payment-row.vertical-align
        .col-xs-12.text-success(style='font-size: 30px')
            strong Payment OK !
    .row.payment-row.vertical-align
        .col-xs-2
        .col-xs-8
            img.img-responsive(src='http://authalys.com/imgs/thumb-up.png')
        .col-xs-2
// /container
// /container


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

mockup/sagazone-payment-ok.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>SaGazone</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/optipay.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="./img/sagazone-logo.png" width="27px" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav text-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<style>
.navbar img {height: 32px !important; width: 170px !important;}
.navbar-default { background-color: #232F3E; }
.btn-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.form-inline { font-size: 20px; }
</style>

    <div class="container">

      <div class="row">
          <div class="col-xs-12">
                <h3>
                   <strong>Payment for invoice number SGZ-15478-45424</strong>
                </h3>
          </div>
      </div>

      <div class="row payment-row vertical-align">
        <div class="col-xs-12 text-success" style="font-size: 30px"><strong>Payment OK !</strong></div>
      </div>
      <div class="row payment-row vertical-align">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><img src="./img/thumb-up.png" class="img-responsive" /></div>
        <div class="col-xs-2"></div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
